body{font-family:Arial;background:#f2f2f2;margin:0}
header{background:#111;color:#fff;padding:10px}
nav button{margin:5px}
.page{display:none;padding:10px}
#feed div{background:#fff;padding:10px;margin:10px;border-radius:8px}
textarea{width:100%;height:60px}